/* Import van het poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Poppins;
    background-color: #E3E3E3;
    max-width: 100%; 
    overflow-x: hidden;
}

/*------------ Homepage ------------*/
.homepage{
    background-color: #E3E3E3;
    height: 650px;
    position: relative;
}

.socials2{
    display: none;
}

.socials_lijn{
    display: none;
}

.functie{
    font-size: 22px;
    color: #808080;
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.titel{
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.beschrijving{
    font-size: 16px;
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.foto-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    width: fit-content;
    z-index: 1
}

@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}

.scrolling-tekst {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 7vh;
    z-index: 0;
}

.horizontal-scrolling-items {
    display: flex;
    font-size: 100px;
    color: #D8D8D8;
    width: 2600px;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}

/*------------ Over Mij pagina ------------*/
.overmij {
    height: 950px;
    background-color: #D9D9D9;
    text-align: center;
    position: relative;
}

.overmij h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.overmij hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

.overmij p{
    font-size: 16px;
    line-height: 21px;
    width: 80%;
    text-align: left;
    margin: 0;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.rabel{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overmij img{
    position: absolute;
    height: 300px;
    width: fit-content;
    bottom: 12vh;
}

.cv {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    background-color: #F1F1F1;
    border: 1px solid #000;
    border-radius: 4px;
}

.lijntje-5{
    position: absolute;
    bottom: 0;
    width: 100% !important;
    height: 2px;
    background-color: #000;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*------------ Vaardigheden pagina ------------*/
.vaardigheden{
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 1350px;
    background-color: #D8D8D8;
}

.vaardigheden h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.vaardigheden hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

.progtalen-titel {
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 40px;
}

.progtalen .titol {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 0;
}

.proglijn {
    width: 70%;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
}

.progtalen {
    display: grid;
    width: 0;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    justify-content: center;
}

.progtalen p {
    font-size: 16px;
    margin: 0;
}

.progtalen .sql,
.progtalen .php,
.progtalen .html,
.progtalen .css,
.progtalen .js,
.progtalen .gsap,
.progtalen .photoshop,
.progtalen .lightroom,
.progtalen .wordpress,
.progtalen .git,
.progtalen .xampp,
.progtalen .vscode,
.progtalen .figma,
.progtalen .excel,
.progtalen .word,
.progtalen .powerpoint{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



/* SQL Sectie */
.sql img{
    height: 50px;
    width: fit-content;
}

/* PHP Sectie */
.php img{
    height: 50px;
    width: fit-content;
}

/* HTML Sectie */
.html img{
    height: 50px;
    width: fit-content;
}

/* CSS Sectie */
.css img{
    height: 50px;
    width: fit-content;
}

/* javascript Sectie */
.js img{
    height: 50px;
    width: fit-content;
}

/* gsap Sectie */
.gsap img{
    height: 50px;
    width: fit-content;
}

/* Photoshop Sectie */
.photoshop img{
    height: 50px;
    width: fit-content;
}

/* Photoshop Sectie */
.lightroom img{
    height: 50px;
    width: fit-content;
}

/* WordPress Sectie */
.wordpress img{
    height: 50px;
    width: fit-content;
}

/* Git Sectie */
.git img{
    height: 50px;
    width: fit-content;
}

/* Xampp Sectie */
.xampp img{
    height: 50px;
    width: fit-content;
}

/* VS Code Sectie */
.vscode img{
    height: 50px;
    width: fit-content;
}

/* Figma Sectie */
.figma img{
    height: 50px;
    width: fit-content;
}

/* Excel Sectie */
.excel img{
    height: 50px;
    width: fit-content;
}

/* Word Sectie */
.word img{
    height: 50px;
    width: fit-content;
}

/* PowerPoint Sectie */
.powerpoint img{
    height: 50px;
    width: fit-content;
}

/*------------ Projecten pagina ------------*/
.projecten{
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 850px;
    background-color: #D8D8D8;
}

.projecten h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.projecten hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

.project1 .boxje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: #CBCBCB;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.project1 .boxje img{
    margin-top: 5px;
    width: 80%;
    height: 125px;
}

.project1 .boxje{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: #CBCBCB;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.project1 .boxje p{
    margin: 0;
}

.project1 h1,
.project1 p{
    width: 80%;
    text-align: left;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.project1 a{
    text-decoration: none;
    color: #000;
}

.project1 .cntr{
    text-align: center;
}

.casestudy {
    position: relative;
    display: inline-block;
    height: 100%;
}

.casestudy img {
    width: 100%;
    filter: brightness(40%);
}

.casestudy::after {
    content: "LinkedIn school project";
    position: absolute;
    width: 90%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.casestudy h1{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.casestudy p{
    font-size: 16px;
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.casestudy a{
    color: #000;
}

.casestudy button{
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #B7B7B7;
    font-size: 18px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*------------ Contact pagina ------------*/
.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1450px;
    background-color: #E3E3E3;
    position: relative;
}

.contact h1{
    font-size: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: normal;
}

.contact p{
    font-size: 10px;
    margin: 0;
}

.contact h2{
    font-size: 14px;
    margin: 0;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.box .tekst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.box a{
    font-size: 35px;
    color: #000;
    text-decoration: none;
}

.overlay {
    display: none;
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    width: 80%;
    height: 400px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 20px;
    z-index: 999;
    top: 17%;
    transform: translateY(-50%);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-info {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: Poppins;
    border: none;
    border: 1px solid #888888;
    background-color: transparent;
}

input{
    border: none;
    border-bottom: 1px solid #888888;
    background-color: transparent;
    outline: none;
    color: #888888;
}

textarea {
    grid-column: span 2;
    border: 1px solid #888888;
    border-radius: 5px;
}

button {
    grid-column: span 2;
    padding: 10px;
    background-color: #ACACAC;
    color: #000;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #c0c0c0;
}

input:focus{
    border-bottom-color: #cecece;
}

textarea:focus{
    outline: none;
    border: 1px solid #cecece;
}

.overlay h1{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
}

.overlay .tekst{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 27px;
}

.overlay .tekst a{
    color: #000;
    text-decoration: none;
}

.stroop h1{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.iets{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.iets .aroow i{
    font-size: 38px;
    cursor: pointer;
}

.iets .aroow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .boxke{
    display: none;
    transition: opacity 0.5s ease;
    width: 70%;
    height: 400px;
    background-color: #F5F5F5;
    border-radius: 7px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.reviews .boxke.active {
    display: block;
}

.reviews h2{
    font-size: 16px;
    font-weight: bold;
}

.reviews h3{
    font-size: 12px;
    font-weight: normal;
    color: #818181;
}

.reviews i{
    font-size: 55px;
}

.reviews .top{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.reviews p{
    margin-top: 30px;
    font-size: 14px;
    width: 90%;
}

.wow{
    width: 300px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    align-self: center;
}

#scrollToTop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    right: 20px;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    font-size: 20px;
    opacity: 70%;
}

#scrollToTop i{
    opacity: 100%;
    font-size: 25px;
}

#scrollToTop:hover {
    background-color: darkgray;
}


/*------------ Tablet CSS ------------*/
@media only screen and (min-width: 426px) {

    /*------------ Homepage ------------*/
    .homepage{
        height: 550px;
    }

    .socials2{
        display: none;
    }

    .socials_lijn{
        display: none;
    }

    .tekst{
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .functie{
        font-size: 22px;
        color: #808080;
        width: 35%;
        margin: 0;
        margin-top: 10vh;
        margin-right: 10%;
        float: right;
    }
    
    /* Titel CSS */
    .titel{
        font-size: 25px;
        font-weight: bold;
        width: 35%;
        margin-right: 10%;
        float: right;
    }
    
    /* Beschrijving */
    .beschrijving{
        font-size: 16px;
        width: 35%;
        margin: 0;
        margin-right: 10%;
        float: right;
        z-index: 1;
    }
    
    /* Foto */
    .foto-1 {
        position: absolute;
        bottom: 0;
        left: 25%;
        transform: translateX(-50%);
        height: 500px;
        width: fit-content;
        z-index: 1;
    }

    .scrolling-tekst {
        width: 100%;
        overflow-x: hidden;
        position: absolute;
        bottom: -4vh;
        z-index: 0;
    }

    .horizontal-scrolling-items {
        font-size: 200px;
    }

    /*------------ Over mij pagina ------------*/
    .overmij {
        height: 700px;
        background-color: #D9D9D9;
        text-align: center;
        position: relative;
    }

    .overmij hr{
        width: 140px;
        margin-left: 10%;
    }

    .overmij p{
        width: 50%;
        margin-left: 10%;
    }

    .rabel{
        display: flex;
        align-items: normal;
        flex-direction: row-reverse;
    }
    
    .overmij img{
        height: 360px;
        width: fit-content;
        bottom: 0;
        margin-right: 10%;
    }
    
    .cv {
        left: 0;
        margin-left: 10%;
        transform: translateX(0%);
        bottom: 0;
        top: 70%;
        width: 40%;
    }

    .lijntje-5{
        width: 100% !important;
        margin: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*------------ Vaardigheden pagina ------------*/
    .vaardigheden{
        height: 1100px;
    }
    
    .vaardigheden hr{
        width: 30%;
    }

    .proglijn{
        width: 300px !important;
    }

    .progtalen {
        width: 0;
        grid-template-columns: repeat(3, 1fr);
    }

    .powerpoint{
        grid-column: 2 / 3;
    }

    /*------------ Projecten pagina ------------*/
    .projecten{
        height: 525px;
    }

    .projecten hr{
        width: 30%;
    }
    
    .projects {
        margin-top: 50px;
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .project1 {
        flex: 0 1 calc(50% - 20px);
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    
    .project1 .boxje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: #CBCBCB;
        margin-top: 10px;
    }
    
    .project1 h1,
    .project1 p {
        width: 100%;
        text-align: left;
        font-weight: normal;
    }

    .projectlijn{
        margin: 0 !important;
        width: 100% !important;
    }

    .casestudy .tekst{
        width: 100%;
        text-align: left;
        align-items: start;
        width: 100%;
    }

    .overzicht,
    .bijlagen{
        width: 100%;
    }

    .casestudy button{
        margin-left: 10vw;
        width: 200px;
        height: 60px;
    }

    .casestudy::after {
        content: "LinkedIn school project";
        top: 6%;
        font-size: 46px;
    }

    /*------------ Contact pagina ------------*/
    .contact{
        height: 650px !important;
    }
    
    .wow {
        display: none;
    }

    .contact {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        height: 1450px;
        background-color: #E3E3E3;
        position: relative;
    }
    
    .contactblokjes, .referenties {
        width: 50%;
    }

    .reviews .titel{
        margin: 0;
        width: 100%;
    }

    .box{
        height: 50px;
        margin-bottom: 26px;
    }

    .box .tekst{
        align-items: baseline;
    }

    .overlay {
        width: 50%;
        top: 20%;
        left: 25%;
    }

    .overlay .tekst{
        align-items: baseline;
    }
}

/*------------ Desktop CSS ------------*/
@media only screen and (min-width: 769px) {
    /*------------ Homepage ------------*/
    .homepage{
        height: 800px;
    }

    .foto-1 {
        position: absolute;
        bottom: 0;
        left: 25%;
        transform: translateX(-50%);
        height: 700px;
        width: fit-content;
        z-index: 1;
    }

    .tekst{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: baseline;
        margin-left: 60%;
    }

    .functie{
        width: 100%;
    }
    
    /* Titel CSS */
    .titel{
        width: 100%;
    }
    
    /* Beschrijving */
    .beschrijving{
        width: 70%;
    }

    .socials2{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        height: 70px;
        margin: 0;
        margin-top: 5vh;
    }

    .socials2 p{
        font-size: 30px;
        margin-right: 30px;
    }

    .socials2 img{
        width: fit-content;
        height: 40px;
    }

    .socials_lijn{
        display: block;
        order: none;      
        height: 2px;          
        background-color: #000;
        margin: 0;
        width: 100%;
    }

    .milan{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }

    /*------------ Over mij ------------*/
    .overmij {
        height: 700px;
    }

    .overmij p{
        width: 35%;
    }
    
    .overmij img{
        height: 600px;
    }
    
    .cv {
        top: 60%;
        width: 20%;
    }

    /*------------ Vaardigheden pagina ------------*/
    .vaardigheden{
        height: 900px;
    }

    .vaardigheden hr{
        width: 20%;
    }

    .progtalen {
        width: 0;
        grid-template-columns: repeat(5, 1fr);
    }

    .powerpoint{
        grid-column: 5;
    }

    .gsap{
        grid-column: 3/5;
    }

    /*------------ Projecten pagina ------------*/
    .projecten hr{
        width: 20%;
    }

    /*------------ Contact pagina ------------*/
    .wow {
        display: flex;
        height: 31.25vw;
        width: fit-content;
    }

    .contact {
        display: flex;
        flex-direction: row; 
        justify-content: start;
        align-items: baseline;
        height: 1450px;
        background-color: #E3E3E3;
        position: relative;
        margin-left: 1%;
    }
    
    .contactblokjes, .referenties {
        width: 33%;
    }

    .reviews .titel{
        margin: 0;
        width: 100%;
    }

    .box{
        height: 50px;
        margin-bottom: 26px;
    }

    .box .tekst{
        align-items: baseline;
        margin: 0;
    }

    .overlay {
        width: 25%;
        top: 50%;
        margin-left: 10%;
    }

    .overlay .tekst{
        align-items: baseline;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .ph-light.ph-caret-circle-right:before{
        font-size: 50px;
    }
}