/* Import van het poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Poppins;
    background-color: #E3E3E3;
    max-width: 100%; 
    overflow-x: hidden;
}

/*------------ Homepage ------------*/
.homepage{
    background-color: #E3E3E3;
    height: 650px;
    position: relative;
}

.functie{
    font-size: 22px;
    color: #808080;
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

/* Titel CSS */
.titel{
    font-size: 25px;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Beschrijving */
.beschrijving{
    font-size: 16px;
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Foto */
.foto-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    width: fit-content; /* Optioneel: Pas de breedte aan indien nodig */
    z-index: 1; /* Zorg ervoor dat de foto vooraan staat */
}

/* Infinite scroll tekst */
@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
}

.scrolling-tekst {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    bottom: 7vh; /* Positie vanaf de onderkant */
    z-index: 0; /* Zorg dat de tekst achter de foto ligt */
}

.horizontal-scrolling-items {
    display: flex;
    font-size: 100px;
    color: #D8D8D8;
    width: 2600px;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items__item {
    white-space: nowrap;
}

/*------------ Over Mij pagina ------------*/
.overmij {
    height: 950px;
    background-color: #D9D9D9;
    text-align: center;
    position: relative;
}

.overmij h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/* Lijn onder tekst */
.overmij hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

.overmij p{
    font-size: 16px;
    line-height: 21px;
    width: 80%;
    text-align: left;
    margin: 0;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.rabel{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overmij img{
    position: absolute;
    height: 300px;
    width: fit-content;
    bottom: 12vh;
}

.cv {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    background-color: #F1F1F1;
    border: 1px solid #000;
    border-radius: 4px;
}

.lijntje-5{
    position: absolute;
    bottom: 0;
    width: 100% !important;
    height: 2px;
    background-color: #000;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*------------ Vaardigheden pagina ------------*/
.vaardigheden{
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 1350px;
    background-color: #D8D8D8;
}

.vaardigheden h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.vaardigheden hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

/* Programmeertalen en frameworks */
.progtalen-titel {
    text-align: center; /* Zorgt ervoor dat titel en lijn gecentreerd zijn */
    margin-bottom: 20px;
    margin-top: 40px;
}

.progtalen .titol {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 0;
}

.proglijn {
    width: 70% !important;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
}

.progtalen {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    justify-content: center;
}

.progtalen p {
    font-size: 16px;
    margin: 0;
}

.progtalen .sql,
.progtalen .php,
.progtalen .html,
.progtalen .css,
.progtalen .js,
.progtalen .gsap,
.progtalen .photoshop,
.progtalen .lightroom,
.progtalen .wordpress,
.progtalen .git,
.progtalen .xampp,
.progtalen .vscode,
.progtalen .figma,
.progtalen .excel,
.progtalen .word,
.progtalen .powerpoint{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



/* SQL Sectie */
.sql img{
    height: 50px;
    width: fit-content;
}

/* PHP Sectie */
.php img{
    height: 50px;
    width: fit-content;
}

/* HTML Sectie */
.html img{
    height: 50px;
    width: fit-content;
}

/* CSS Sectie */
.css img{
    height: 50px;
    width: fit-content;
}

/* javascript Sectie */
.js img{
    height: 50px;
    width: fit-content;
}

/* gsap Sectie */
.gsap img{
    height: 50px;
    width: fit-content;
}

/* Photoshop Sectie */
.photoshop img{
    height: 50px;
    width: fit-content;
}

/* Photoshop Sectie */
.lightroom img{
    height: 50px;
    width: fit-content;
}

/* WordPress Sectie */
.wordpress img{
    height: 50px;
    width: fit-content;
}

/* Git Sectie */
.git img{
    height: 50px;
    width: fit-content;
}

/* Xampp Sectie */
.xampp img{
    height: 50px;
    width: fit-content;
}

/* VS Code Sectie */
.vscode img{
    height: 50px;
    width: fit-content;
}

/* Figma Sectie */
.figma img{
    height: 50px;
    width: fit-content;
}

/* Excel Sectie */
.excel img{
    height: 50px;
    width: fit-content;
}

/* Word Sectie */
.word img{
    height: 50px;
    width: fit-content;
}

/* PowerPoint Sectie */
.powerpoint img{
    height: 50px;
    width: fit-content;
}

/*------------ Projecten pagina ------------*/
.projecten{
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 500px;
    background-color: #D8D8D8;
}

.projecten h1{
    width: 80%;
    padding-top: 3vh;
    font-size: 30px;   
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.projecten hr{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #000;
    border: none;
}

.project1 .boxje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: #CBCBCB;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.project1 .boxje img{
    margin-top: 5px;
    width: 80%;
}

.project1 .boxje{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: #CBCBCB;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.project1 .boxje p{
    margin: 0;
}

.project1 h1,
.project1 p{
    width: 80%;
    text-align: left;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.project1 a{
    text-decoration: none;
    color: #000;
}

.project1 .cntr{
    text-align: center;
}

.casestudy {
    position: relative;
    display: inline-block;
    height: 2875px;
}

.casestudy img {
    width: 100%;
    filter: brightness(40%);
}

.casestudy::after {
    content: "LinkedIn school project";
    position: absolute;
    width: 90%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.casestudy h1{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.casestudy p{
    font-size: 16px;
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.casestudy a{
    color: #000;
}

.casestudy button{
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #B7B7B7;
    font-size: 18px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*------------ Contact pagina ------------*/
.contact{
    width: 100%;
    height: 1500px;
    background-color: #E3E3E3;
}

.contact h1{
    font-size: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: normal;
}

.contact p{
    font-size: 10px;
    margin: 0;
}

.contact h2{
    font-size: 14px;
    margin: 0;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.box .tekst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.box a{
    font-size: 35px;
    color: #000;
    text-decoration: none;
}

.stroop h1{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.iets{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.iets .aroow i{
    font-size: 38px;
    cursor: pointer;
}

.iets .aroow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .boxke{
    display: none;
    transition: opacity 0.5s ease;
    width: 70%;
    height: 400px;
    background-color: #F5F5F5;
    border-radius: 7px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.reviews .boxke.active {
    display: block;
}

.reviews h2{
    font-size: 16px;
    font-weight: bold;
}

.reviews h3{
    font-size: 12px;
    font-weight: normal;
    color: #818181;
}

.reviews i{
    font-size: 55px;
}

.reviews .top{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.reviews p{
    margin-top: 30px;
    font-size: 14px;
    width: 90%;
}